<!DOCTYPE html>
<!--
Copyright Ben Mullen 2016
All Rights Reserved

-->
<html xmlns:th="https://www.thymeleaf.org">
    <head lang="en">
	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>Breakfast of Champions</title>
	<meta name="description" content="Breakfast Application">
	<meta name="author" content="Ben">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/skeleton.css">

	<!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<link rel="manifest" href="images/site.webmanifest">

    </head>
    <body>

	<!-- Primary Page Layout
	      ---EXAMPLE SKELETON USAGE----
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="container">
	    <div class="row" style="margin-top: 15%">
		<div class="one-half column" >
		    <h4>Breakfast Management</h4>
		    <p>Here are the tools for making a good breakfast</p>
		</div>
	    <div class="two-thirds column" id="react"></div>
		<script src="built/bundle.js"></script>
	    </div>
	</div>

    </body>
</html>
